.rmdnote {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  background: #f5f5f5 5px center/3em no-repeat;
  position:relative;
  /* background-image: url("../myIcons/information.png"); */
}
.rmdnote:before {
  content: "\f075";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  top:0;
  font-size: 45px;
}

.rmdstyle {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  background: #f5f5f5 5px center/3em no-repeat;
  position:relative;
  /* background-image: url("../myIcons/style.png"); */
}
.rmdstyle:before {
  content: "\f044";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  top:0;
  font-size: 45px;
}